<html>
{{#each foo}}
{{this}}
{{/each}}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/index.html"><b><u>DataGorge</u></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNBAnavbar" aria-controls="myNBAnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNBAnavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/players"><b>Players <span class="sr-only">(current)</span></b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams"><b>Teams </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gamestats"><b>Statistics </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games"><b>Games </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/positions"><b>Positions </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/players_positions"><b>Players_Positions</b></a>
            </li>
        </ul>
    </div>
</nav>
<h3>Add new players:</h3>
<form id="addplayer" action="/addplayers" method="post">
    Height: <input type="text" name="addheight"><br>
    Weight: <input type="text" name="addweight"><br>
    Last name: <input type="text" name="addfirstName"><br>
    First name: <input type="text" name="addlastName"><br>
    TeamID (input manually, selecting from dropdown doesn't work): <input type="number" name="addteamID"><br>

    Team (this is ONLY to show filter functionality, selection doesn't work): <select name="teams">
        {{#each teams}}
        <option value="{{teamID}}">{{teamName}}</option>
        {{/each}}
    </select>
    <br><br><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<!-- Doesn't work.
<form id='filter_players' action='' method=''>
    <label> Filter by team </label>
    <select id='team_filter' name="team">
        {{#each teams}}
        <option value="{{teamID}}">{{teamName}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterPlayersByTeam()">
</form>
-->

<form id='search_players' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search players for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPlayersByFirstName()">
</form>

<h3>Table for viewing:</h3>
<table>
    <thead>
        <th>Height</th>
        <th>Weight</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Team</th>
    </thead> 
    <tbody>
        {{#each players}}
        <tr> 
            <td>{{height}}</td>
            <td>{{weight}}</td>
            <td>{{lastName}}</td>
            <td>{{firstName}}</td>
            <td>{{teamName}}</td>
        </tr>
        {{/each}} 
    </tbody> 
</table>

<h3>Update players</h3>
<form id="updateplayer" action="/updateplayers" method="post">
    Height: <input type="text" name="upheight"><br>
    Weight: <input type="text" name="upweight"><br>
    Last name: <input type="text" name="upfirstName"><br>
    First name: <input type="text" name="uplastName"><br>
    TeamID (input manually, selecting from dropdown doesn't work): <input type="number" name="upteamID"><br>
    PlayerID (input manually) <input type="number" name="upplayerID">
    <br><br><br>
    <input type="submit" value="Submit">
</form>
</html>
