<html>
{{#each foo}}
{{this}}
{{/each}}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="./public/index.html"><b><u>DataGorge</u></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNBAnavbar" aria-controls="myNBAnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNBAnavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/players"><b>Players</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams"><b>Teams </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gamestats"><b>Statistics </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games"><b>Games</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/positions"><b>Positions </b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/players_positions"><b>Players_Positions <span class="sr-only">(current)</span></b></a>
            </li>
        </ul>
    </div>
</nav>
<h3>Add new relationship:</h3>
<form id="addplayers_positions" action="/players_positions" method="post">
    Player ID: <input type="number" name="plID"><br>
    Position ID: <input type="number" name="poID">
    <br><br><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h3>Current Players - Positions:</h3>
<table id="play_pos_table">
    <thead>
    <th>Player ID</th>
    <th>Position ID</th>
    </thead>
    <tbody>
    {{#each players_positions}}
        <tr>
            <td>{{plID}}</td>
            <td>{{poID}}</td>
            <td><input type="button" value="Delete" id="delete" onclick="function deleteResult(plID, poID){

            var table = document.getElementById('play_pos_table');
                    for (var row = 1;row <= (table.rows.length-1); row++) {
                     if((table.rows[row].cells[0].innerHTML == plID) && (table.rows[row].cells[1].innerHTML == poID)){
                        table.deleteRow(row);
                      }
                    }

                    var req = new XMLHttpRequest();
                    req.open('GET', '/delete?plID=' + plID + '&poID=' + poID, true);

                    req.addEventListener('load',function(){
                        if(req.status >= 200 && req.status < 400){
                            console.log('success');
                        } else {
                             console.log('Error in network request: ' + req.statusText);
                             if(req.statusText === 'Not Found'){
                              alert('Error: not found');
                             }
                        }
                    });
                    req.send(null);
                };
                deleteResult({{plID}}, {{poID}});"></td>
        </tr>
    {{/each}}
    </tbody>
</table>
</html>
