<html>
<h1>Update {{Players.firstName}} {{Players.lastName}}:</h1>
<form id="update-player" action="/Players" method="post">
    Height: <input type="text" name="height" value="{{Players.height}}"><br>
    Weight: <input type="text" name="weight" value="{{Players.weight}}"><br>
    First name: <input type="text" name="firstName" value="{{Players.firstName}}"><br>
    Last name: <input type="text" name="lastName" value="{{Players.lastName}}"><br>

    <!-- DEBUG
    Team: <select name="team" id="team-selector">
        {{#each teams}}
            <option value="{{teamID}}">{{teamName}}</option>
        {{/each}}
    </select>
    -->

    TeamID: <input type="number" name="teamID" value="{{Players.teamID}}">
    <br>
</form>
<button onclick="updatePlayer({{Players.playerID}})">Update</button>
<!-- DEBUG
<script defer>selectTeam({{Players.team}});</script>
-->
</html>
